<div class="form-group col-8 ">
  <label for="authorInput" class="mr-3 pt-1">Name</label>
  <input
    type="text"
    class="form-control"
    id="authorInput"
    placeholder="author"
    name="name"
    value="<%= author.name %>"
  />
</div>
