<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/superhero/bootstrap.css"
      media="screen"
    />
  </head>
  <body>
    <br>

    <%- include("../partials/header.ejs") %>
    <%- body %>
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
